.block {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
}

.adguard-coral {
    height: auto;
    width: 200px;
    border: 2px solid aquamarine;
    background-color: lightcoral;
    display: flex;
    align-items: center;
    text-align: center;
}