.block {
    display: flex;
    justify-content: center;
    width: 500px;
}

.adguard-coral {
    height: 50px;
    width: 200px;
    border: 2px solid aquamarine;
    background-color: lightcoral;
}