.block {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
}

.adguard-coral {
    height: 50px;
    width: 200px;
    border: 2px solid aquamarine;
    background-color: lightcoral;
    text-align: center;
    color: gray;
}